/* Navigation */

header {
  padding: 3rem 10%;
  display: flex;
  justify-content: space-between;
}

#menu-icon {
  display: flex;
}

.navbar {
  display: none;
}

/* Home */

section.container {
  padding: 15% 10%;
}
section.home {
  flex-direction: column;
  flex-flow: column-reverse;
  align-items: center;
  gap: 0;
  margin-top: 5.5rem;
}

.home-content h3 {
  font-size: clamp(2rem, 2rem + 3.125vw, 3.5rem);
}

.home-content h5 {
  font-size: clamp(1.5rem, 1.5rem + 2.0833vw, 2.5rem);
  margin-bottom: 2rem;
}

.home-content p {
  font-size: clamp(1rem, 0.9993rem + 1.043vw, 1.5rem);
  
}

.home-img img {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
}

.home-content {
  text-align: center;
}

.btn-group {
  justify-content: center;
}

/* Education */
.education {
  padding: 100px 10%;
}

.timeline-items {
  width: 100%;
}
.timeline-date {
  font-size: clamp(1rem, 0.4872rem + 2.735vw, 1.8rem);
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 15px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 15px);
}

.timeline-content {
  padding: 10px 20px;
}

.timeline-content p {
  font-size: 12px;
}

.timeline-content p.school {
  font-size: 14px;
}

/* Service */

.services {
  padding: 100px 10%;
}

.services-container {
  gap: 2.5rem;
}

.service-box {
  flex-basis: 100%;
  padding: 15px 25px;
  height: 300px;
}

.service-info h3 {
  font-size: clamp(1.5rem, 1.5rem + 2.7875vw, 2.5rem);
  margin-bottom: 0.5rem;
}

.service-info p {
  font-size: clamp(1rem, 1rem + 1.3937vw, 1.5rem);
}

/* Projects */

.projects {
  padding: 100px 20%;
}

.projects-container {
  width: 100%;
}


.project-item img {
  max-width: 300px;
  max-height: 300px;
}
