/* Navigation */

header {
  padding: 3rem 10%;
  display: flex;
  justify-content: space-between;
}

#menu-icon {
  display: block;
}

.navbar {

  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
}

.navbar .center {
  display: none;
  flex-direction: column;
  border-left: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 2rem;
}

.center.active {
  display: flex;
}
/* Home */

section.container {
  padding: 15% 10%;
}
section.home {
  flex-direction: column;
  flex-flow: column-reverse;
  align-items: center;
  gap: 0;
  margin-top: 5.5rem;
}

.home-content h3 {
  font-size: clamp(2rem, 2rem + 3.125vw, 3.5rem);
}

.home-content h5 {
  font-size: clamp(1.5rem, 1.5rem + 2.0833vw, 2.5rem);
  margin-bottom: 2rem;
}

.home-content p {
  font-size: clamp(1rem, 0.9993rem + 1.043vw, 1.5rem);
}

.home-img img {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
}

.home-content {
  text-align: center;
}

.btn-group {
  justify-content: center;
}

/* Education */
.education {
  padding: 100px 10%;
}

.timeline-items {
  width: 100%;
}

.timeline-items:before {
  left: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: 0;
  text-align: left;
  padding-left: 20px;
}

.timeline-item:nth-child(even) {
  padding-left: 20px;
}
.timeline-dot {
  left: -9px;
}

.timeline-date {
  font-size: clamp(1rem, 0.4872rem + 2.735vw, 1.8rem);
}


.timeline-content {
  padding: 10px 20px;
}

.timeline-content p {
  font-size: 14px;
}


/* Service */

.services {
  padding: 100px 10%;
}

.services-container {
  gap: 2.5rem;
}

.service-box {
  flex-basis: 100%;
  padding: 15px 25px;
  height: 310px;
}

.service-info h3 {
  font-size: clamp(1.5rem, 1.5rem + 2.7875vw, 2.5rem);
  margin-bottom: 0.5rem;
}

.service-info p {
  font-size: clamp(1rem, 1rem + 1.3937vw, 1.5rem);
}

/* Projects */

.projects {
  padding: 100px 10%;
}

.project-item {
  flex-basis: 100%;
}

.project-item img {
  max-width: 100%;
  height: auto;
}
