* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Poppins", "Helvetica Neue";
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #ffffff;
    --main-color: #00ffb3;
}

html {
    overflow-x: hidden;
    font-size: 60%;
}